    @*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    *@
    @{
        <link rel="stylesheet" href="~/front/acesso.css" />
    }
    <style>
    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(102, 124, 77);
        background: linear-gradient(140deg, rgba(102, 124, 77, 1) 0%, rgba(114, 149, 75, 1) 35%, rgba(166, 217, 107, 1) 100%);
        background-size: cover;
        margin: 0;
        font-family: 'Arial', sans-serif;
    }

    html, body {
        height: 100%;
    }

    </style>
    <div class="container">
        
        <div class="form-box login-box" id="login-box">
            <div class="login-header">
                <header>Entrar</header>
            </div>

            
            <form method="post" asp-action="Login">
                <div class="input-box">
                    <input type="email" class="input-field" placeholder="Email" name="email" autocomplete="off" required />
                </div>
                <div class="input-box">
                    <input type="password" class="input-field" placeholder="Senha" name="senha" autocomplete="off" required />
                </div>
                <div class="forgot">
                    <section>
                       
                    <input type="checkbox" name="rememberMe" id="rememberMe" />
                    <br />
                    <label for="rememberMe">Lembrar-me</label>
                    </section>
                    <section>
                        <a href="#">Esqueceu sua senha?</a>
                    </section>
                </div>
                <div class="input-submit">
                    
                    <button class="submit-btn" type="submit" id="submit-login">Entrar</button>
                </div>
            </form>

            <div class="sign-up-link">
                <p>Não tem conta? <a href="/Account/Register">Inscrever-se</a></p>
            </div>
        </div>
    </div>
    <style>

    .sidebar{
        display:none;
    }
    </style>