body {
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
}
